*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width:100%;
}
h1{
    color:red;
    font-size: 50px;
}
h2{
    color:goldenrod;
    font-size: 40px;
}
h3{
    color:darkorchid;
    font-size: 30px;
}